:root {
    --bg-c: #0d1117;
    --accent-c: #0369a1;
    --text-c: #e2e8f0;
    --font-body: "Inter", sans-serif;
    --font-heading: "Space Grotesk", sans-serif;
    --accent-hover : #0ea5e9;
    --grey-blue :#1f2937;
}

body {
    background-color: var(--bg-c);
    color: var(--text-c);
    font-family: var(--font-body);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 500;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 2rem; 
   
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;

}

.menu-final ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.spacer{
    flex: 1;
}
#links ul{
    display: flex;
    gap : 1rem;
    list-style: none;
}

.btn-primary {
    display: inline-block;
    padding: 0.60rem;
    background-color:var(--accent-c);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s, transform 0.2s;
    
}
.btn-primary:hover {
    background-color: var(--accent-hover);
    opacity: 0.85;
    transform: scale(1.05);
}
.btn-secondary {
    display: inline-block;
    padding: 0.60rem;
    border: 2px solid var(--accent-c);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s, transform 0.2s;
}
.btn-secondary:hover {
    background-color:var(--accent-c);
    opacity: 0.85;
    transform: scale(1.05);
}

.social-icons a {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--grey-blue);
    align-items: center;
    justify-content: center;
    
}
.social-icons img {
    filter: brightness(0) invert(1);
}

.menu a, .menu-final a {
    text-decoration: none;
    color: var(--text-c);
    transition: color 0.2s, transform 0.2s;

}
.menu a:hover, .menu-final a:hover {
        color: var(--accent-c);
        opacity: 0.85;
        transform: scale(1.05);

}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.burger{
    display: none;
}
.menu{
    display: none;
}
@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
    }
    header {
        flex-direction: column;
    }
    #home {
        display:flex;
        flex-direction: column;
    }
    .burger{
        display: block;
    }
}
